@media screen and (min-width: 600px) {
    header {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    header h1 {
        margin-right: 2rem;
    }

    #menu {
        display: none;
    }

    nav {
        flex-direction: row;
        width: auto;
    }

    nav a {
        display: block;
        border-top: none;
        padding: 1rem 1.5rem;
    }

    .res-grid {
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    }
}